.table-responsive {
	height: 65vh;
	tbody {
		overflow: auto;
	}
}
table {
	span.abortLaunch {
		color: #cc0000;
		cursor: pointer;
	}
	span.failure {
		color: #cc0000;
		box-shadow: 0px 0px 4px 2px #cc000088;
	}
	span.success {
		color: #00cc00;
		box-shadow: 0px 0px 4px 2px #00cc0088;
	}
}
